:root {
  font-family: 'Fira Code', monospace;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #faf6ed;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#safe-area-top {
  position: fixed;
  top: 0;
  left: 0;
  height: calc(env(safe-area-inset-top) + 10px);
  width: 100%;
  background: #faf6ed;
  z-index: 99999;
}

html,
body {
  margin: 0;
  padding: 0;
  background-color: #faf6ed;
}
